<%

if (typeof id === "undefined") var id = formPartialsID("leave-dates");
if (typeof modifiers === "undefined") var modifiers = []; 
if (typeof modifiers === "string") modifiers = [modifiers]; 

%>


<div class="multi-date__container">
</div>

<div class="multi-date" id="multi-date__template" style="display: none">
  <fieldset class="multi-date__row multi-date--start">
    <legend id="<%- id %>-start" class="multi-date__label legend-override">Start Date <span class="hint"> (dd / mm / yyyy)</span></legend>
    <div class="multi-date__input-group">
      <div class="multi-date__date-group">
        <%- include(partials+"components/form-partials/date", {hint: ""}) %>
      </div>
    </div>
  </fieldset>
  <fieldset class="multi-date__row multi-date--end">
    <legend id="<%- id %>-end" class="multi-date__label legend-override">End Date <span class="hint"> (dd / mm / yyyy)</span></legend>
    <div class="multi-date__input-group">
      <div class="multi-date__date-group">
        <%- include(partials+"components/form-partials/date", {hint: ""}) %>
      </div>
      <button class="uikit-btn multi-date__button multi-date__button--add" disabled>Add</button>
      <%- generateCheckRadio({
        text: "Ongoing",
        boxID: `${id}-ongoing`,
        baseID: `${id}-ongoing`,
        suppliedID: true,
        modifiers: [],
        type: "checkbox",
        customClass: "multi-date__input--checkbox multi-date__input multi-date__checkbox"
      }).html %>
    </div>
  </fieldset>
</div>


<script>

var ongoing = false;

$(document).ready(function() {
  $("#multi-date__template").clone().removeAttr("id").removeAttr("style").appendTo(".multi-date__container");
  checkbox = $(".uiToolKitCheckBox").first().clone();

  $(".multi-date__container").on("keyup", ".dd", function(e) {
    if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
      if ($(this).val().length === 2) {
        $(this).parent().find(".mm").focus();
      }
    }
  })
  $(".multi-date__container").on("keyup", ".mm", function(e) {
    if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
      if ($(this).val().length === 0) {
        $(this).parent().find(".dd").focus();
      }
      if ($(this).val().length === 2) {
        $(this).parent().find(".yyyy").focus();
      }
    }
  })
  $(".multi-date__container").on("keyup", ".yyyy", function(e) {
    if ((e.which >= 49 && e.which <= 57) || (e.which >= 96 && e.which <= 105) || e.which === 46 || e.which === 8) {
      if ($(this).val().length === 0) {
        $(this).parent().find(".mm").focus();
      }
    }
  })
})

$(".multi-date__container").on("click", ".multi-date__checkbox", function() {
  if ($(this).prop("checked")) {
    $(this).closest(".multi-date__row").find(".dd").attr("disabled", "true");
    $(this).closest(".multi-date__row").find(".dd").val("");
    $(this).closest(".multi-date__row").find(".mm").attr("disabled", "true");
    $(this).closest(".multi-date__row").find(".mm").val("");
  $(this).closest(".multi-date__row").find(".yyyy").attr("disabled", "true");
    $(this).closest(".multi-date__row").find(".yyyy").val("");
  } else {
    $(this).closest(".multi-date__row").find(".dd").removeAttr("disabled");
    $(this).closest(".multi-date__row").find(".mm").removeAttr("disabled");
    $(this).closest(".multi-date__row").find(".yyyy").removeAttr("disabled");
  }
});


$(".multi-date__container").on("change keyup", ".multi-date input", function() {
  var origElem = $(this);
  function elemVal(elem, pos) {
    return origElem.closest(".multi-date").find(`.multi-date--${pos}`).find(`.${elem}`).val().length
  }
  if ((elemVal("dd", "start") === 2 && elemVal("mm", "start") === 2 && elemVal("yyyy", "start") === 4) && (origElem.closest(".multi-date").find(".multi-date__checkbox").prop("checked") || (elemVal("dd", "end") === 2 && elemVal("mm", "end") === 2 && elemVal("yyyy", "end") === 4)) ) {
      origElem.closest(".multi-date").find(".multi-date__button--add").removeAttr("disabled")
  } else {
      origElem.closest(".multi-date").find(".multi-date__button--add").attr("disabled", "true")
  }
})

$(".multi-date__container").on("click", ".multi-date__button--add", function() {
  $("#multi-date__template").clone().removeAttr("id").removeAttr("style").appendTo(".multi-date__container");
  $(this).closest(".multi-date__container").find(".multi-date:nth-last-of-type(2)").find("input").attr("disabled", "true");
  $(this).closest(".multi-date__container").find(".multi-date").last().find(".dd, .mm, .yyyy").val("");
  $(this).closest(".multi-date__container").find(".multi-date").last().find(".dd, .mm, .yyyy").removeAttr("disabled");
  var this_ongoing = $(this).closest(".multi-date").find(".multi-date__checkbox").prop("checked");
  $(this).closest(".multi-date").addClass("multi-date--static");
  $(this).closest(".multi-date").find(".multi-date__button--add").addClass("multi-date__button--remove").addClass("uikit-btn--tertiary").removeClass("multi-date__button--add").text("Remove");

  if (this_ongoing) {
    $(this).closest(".multi-date").find(".uiToolKitCheckBox").removeClass("uiToolKitCheckBox").addClass("multi-date__checkbox--ongoing");

    ongoing = true;
   
    $(".multi-date__container").find(".multi-date__checkbox--ongoing").find(".multi-date__checkbox").attr("disabled", "true")
    $(".multi-date__container").find(".multi-date__checkbox--ongoing").find(".multi-date__checkbox").prop("checked", "true")
    $(".multi-date__container").find(".multi-date__checkbox--ongoing").find(".uikit-control-input__text").addClass("multi-date__checkbox-text--disabled-override")
  } else {
    $(this).closest(".multi-date").find(".uiToolKitCheckBox").remove();
  }

  if (ongoing) $(".multi-date__container").find(".uiToolKitCheckBox").remove();
})

$(".multi-date__container").on("click", ".multi-date__button--remove", function() {
  if ($(this).closest(".multi-date").find(".multi-date__checkbox").prop("checked")) {
    ongoing = false;
    $(this).closest(".multi-date__container").find(".multi-date").last().find(".multi-date--end .multi-date__input-group").append(checkbox);
    checkbox.appendTo("");
  }
  $(this).closest(".multi-date").remove();
});

</script>