<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">

    <div id="main-content" class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Property details</span>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <%- include(partials+"components/form-partials/address", {
              legend: "Address of mortgaged and subsidised property",
              modifiers: "noCountry"
            }) %>

            <%- include(partials+"components/form-partials/yes_no", {
              label: "Is your postal address different to the subsidised property address?",
              yes_toggle: "#postal-different"
            }) %>

            <div id="postal-different" hidden>
              <%- include(partials+"components/form-partials/textarea", {
                label: "Please provide a reason:"
              }) %>
            </div>

            <%- include(partials+"components/form-partials/yes_no", {
              label: "Would you like us to update your postal address to your subsidised property address from the date of occupancy?",
              hint: "This will only update your postal address for DHOAS correspondence.",
              modifiers: ["hintNewLine"],
              yes_rToggle: "#save-next",
              no_rToggle: "#save-next"
            }) %>

            <div id="save-next" hidden>
              <p>Choose <b>save and next</b> to continue</p>
            </div>

            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar2'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>
        </div>
      </div>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

  <script>
    $(document).ready(() => {

      // Progress percentage
      document.getElementById("percentage").style.width = "20%";
      document.getElementById("percentage_value").textContent = "20%";

    });
  </script>

</body>

</html>
