<!DOCTYPE html>
<html class="js" lang="en">

<head>

  <title>Subsidy authoriation request | MyService</title>
  <%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="section-feature border-bottom--mild margin-above--none margin-below--none padding-below">
      <div class="container margin-above--none">
        <h1 class="margin-above--none ss-align--center">
          <span class="heading">Home loan details</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <div class="margin-above--extra margin-below--extra">

            <%- include(partials+"components/form-partials/radio", {
              label: "I declare that I am using this home loan solely to:",
              boxes: [
                {
                  text: "Purchase a new home",
                  inject: "#use-of-loan-purchase-desc"
                },
                {
                  text: "Construct and/or renovate on land purchased with this loan",
                  inject: "#use-of-loan-construction-exi-desc"
                },
                {
                  text: "Construct and/or renovate on previously purchased land",
                  inject: "#use-of-loan-construction-pre-desc"
                },
                {
                  text: "Refinance an existing home",
                  inject: "#use-of-loan-refinance-desc"
                }
              ]
            }) %>

            <%- include(partials+"components/form-partials/radio", {
              label: "I declare that:",
              boxes: [
                "I own/will own a 100% interest in the property",
                "I and my partner own/will own a 100% interest in the property",
                {
                  text: "I (or I and my partner, together) own/will own 50% or greater interest in the property. The remaining interest is owned/will be owned by another person/s",
                  toggle: "#relationship-list"
                },
                {
                  text: "Other",
                  inject: "#interest-details"
                }
              ]
            }) %>

            <div id="relationship-list" hidden>
              <%- include(partials+"components/form-partials/textarea", {
                label: "Provide a list of names and their relationship to you."
              }) %>
            </div>

            <div id="interest-details" hidden>
              <%- include(partials+"components/form-partials/textarea", {
                label: "Provide details of the interest that you own/will own in the property. DVA will contact you regarding your eligibility."
              }) %>
            </div>

            <%- include(partials+"components/form-partials/date", {
              label: "Expected settlement date"
            }) %>

            <%- include(partials+"components/form-partials/bank-details", {
              legend: "Loan account details"
            }) %>

            <div class="pagination margin-above--extra">
              <button class="uikit-btn uikit-btn--tertiary " onclick="window.location.href='/auth/claim/dhoas/sar1 ' ">Previous</button>
              <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '#open-modal'">Cancel application</button>
              <div class="floated">
                <button class="uikit-btn uikit-btn--tertiary" onclick="window.location.href = '/auth/claim'">Save and exit</button>
                <button class="uikit-btn btnNext" id="btnNext" onclick="window.location.href = '/auth/claim/dhoas/sar3'">Save and next</button>
              </div>
            </div>

            <%- include(partials+"content/modals/claims-cancel-modal") %>
          </div>
        </div>
      </div>
    </div>

    <div class="uikit-page-alerts uikit-page-alerts--content" role="alert" id="use-of-loan-purchase-desc" hidden>
      <p>Buy an interest in the property detailed, which contains a habitable house.</p>
    </div>

    <div class="uikit-page-alerts uikit-page-alerts--content" role="alert" id="use-of-loan-construction-exi-desc" hidden>
      <p>Buy an interest in the property detailed and undertake building work consisting of either:</p>

      <ol>
        <li>Construction or completion of a house (excluding a unit) on the property; or</li>
        <li>Enlargement, renovation or repair of a house on the property; or</li>
        <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or proposed house.</li>
      </ol>
    </div>

    <div class="uikit-page-alerts uikit-page-alerts--content" role="alert" id="use-of-loan-construction-pre-desc" hidden>
      <p>I have an interest in the land at the property and will undertake building work on that land consisting of either:</p>
      <ol>
        <li>Construction or completion of a house (excluding a unit) on the property; or</li>
        <li>Enlargement, renovation or repair of a house on the property; or</li>
        <li>Construction of another permanent improvement on the property, that is primarily for private or domestic purposes in association with an existing or proposed house.</li>
      </ol>
    </div>

    <div class="uikit-page-alerts uikit-page-alerts--content" role="alert" id="use-of-loan-refinance-desc" hidden>
      <p>To refinance an existing loan the balance of which is solely related to the repayment of a previous loan made for one of the above purchase or building work purposes.</p>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>

</body>

</html>
